.square {
  margin: 0 auto;
  margin-top: 2rem;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 50px;

  display: flex;
  justify-content: center;
}

.ball {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #007bff;
  border-radius: 50%;
  animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
      top: 15px;
      transform: scaleX(1);
      animation-timing-function: ease-in;
    }

    48% {
        transform: scaleX(1);
        animation-timing-function: ease-in;
    }

    49% {
        transform: scaleX(1.2);
        animation-timing-function: ease-out;
    }

    50% {
        top: 330px;
        transform: scaleY(0.8);
        animation-timing-function: ease-out;
      
        transform: scaleX(1.4);
        animation-timing-function: ease-out;
    }

    51% {
        transform: scaleX(1.2);
        animation-timing-function: ease-in;
    }

    52% {
        transform: scaleX(1);
        animation-timing-function: ease-in;
    }
  
    100% {
      top: 15px;
      transform: scaleX(1);
      animation-timing-function: ease-in;
    }

}
