@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

nav {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


/* notification */
.ringbell-bg {
    background-color: rgb(230, 230, 230);
    height: 42px;
    width: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#notification {
    position: relative;
}

#blue-circle {
    background-color: rgb(46, 46, 255);
    height: 9px;
    width: 9px;

    position: absolute;
    top: 3px;
    right: 7px;
}


/* user */

#user {
    width: fit-content;
    height: fit-content;
    position: relative;
}

#user img {
    width: fit-content; 
    overflow: hidden;
    height: 42px;
    width: 42px;
}

#green-circle {
    background-color: rgb(0, 197, 0);
    height: 9px;
    width: 9px;

    position: absolute;
    bottom: 2px;
    right: 5px;
}

/* HERO  */
#hero {
    background-color: rgb(106, 95, 255);
}

#hero div.container div.row div.card {
    border: 0px;
    margin: 1rem 0.5rem;
}

.btn-success {
    background-color: rgb(83, 218, 134);
    font-size: 14px;
    font-weight: 600;
}
.btn-light {
    font-size: 14px;
    font-weight: 600;
}

#img-hero {
    height: 300px;
}

#img-hero img {
    object-fit: cover;
    height: 100%;
}

/* RIQUADRO SOTTO HERO */
.icon-circle {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 226, 215);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-circle span {
    color: rgb(180, 140, 140);
}

#sub-hero {
    padding: 0.5rem 0 1rem 0;
}

/* MAIN */ 

main, footer {
    /* background-color: rgb(238, 238, 238); */
    background-color: rgb(199, 22, 22);
}

/* CARD (e FOOTER) */
.bi-star-fill, .bi-star-half, .bi-star {
    font-size: 10px;
}

.user-image img {
    height: 28px;
    width: 28px;
}

.user-name, .card-footer i, .custom-fs {
    font-size: 11px;
}

/* CAROSELLO */

.carousel-inner {
    overflow: visible;
}

.carousel-control-prev {
    transform: translateX(-50%);
    background-color: aqua;
}

.carousel-control-next {
    transform: translateX(50%);
    background-color: aqua;
}







