.custom-bg {
  background-image: url("assets/ocean.jpg");
  background-position: center;
  background-size: cover;
}

nav {
  z-index: 2;
  box-shadow: 0px 4px 8px grey;
}

.myCard, .card3 {
  box-shadow: 6px 5px 8px rgb(134, 134, 134);
  overflow: hidden;
  border-radius: 20px;
  border: 0;
}

.card img {
  height: 280px;
  width: auto;
}

.card2 img, .card3 img{
  height: 220px;
  width: auto;
  object-fit: cover;
}

.customMarginBottom {
  margin-bottom: 8rem;
}

.testimonial .card .card-text {
  font-size: 14px;
}


/* FOOTER */ 
footer {
  padding-top: 2rem;
  border-top: 1px solid black;
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bg {
  background-color: rgb(243, 243, 243);
}